{% if article.facebook|length > 0 %}
	<div class="fb-post" data-href="{{article.facebook}}" data-width="500" data-show-text="true">
		<blockquote cite="{{article.facebook}}" class="fb-xfbml-parse-ignore"></blockquote>
	</div>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v9.0" nonce="OgdAFtEq"></script>
{% endif %}
