<nav>
	<div class="items">
		<div class="item">
			<a href="{{path('home')}}">Accueil</a>
		</div>
		<div class="item">
			<a href="">Editorial</a>
		</div>
		{% for c in categoryRepository.findAll() %}
			<div class="item">
				<a href="">{{c.name}}</a>
			</div>
		{% endfor %}
		<div class="item">
			<a href="">Calendrier</a>
		</div>
		<div class="item">
			<a href="">Archives</a>
		</div>
		<div class="item">
			<a href="">Déconnexion</a>
		</div>
		<div class="item-mobile">
			<i class="fas fa-bars fa-2x"></i>
		</div>

	</div>


</nav>
