<nav>
	<div class="items">
		<div class="item">
			<a href="{{path('home')}}">Accueil</a>
		</div>
		<div class="item">
			<a href="">Editorial</a>
		</div>
		<div class="item">
			<a href="">France</a>
		</div>
		<div class="item">
			<a href="">International</a>
		</div>
		<div class="item">
			<a href="">Modes Opératoires</a>
		</div>
		<div class="item">
			<a href="">Autres</a>
		</div>
		<div class="item">
			<a href="">Calendrier</a>
		</div>
		<div class="item">
			<a href="">Archives</a>
		</div>
		<div class="item">
			<a href="">Déconnexion</a>
		</div>
	</div>
</nav>
