{% extends "base.html.twig" %}

{% block title %}
	InfoActivisme-Recherche
{% endblock %}

{% block body %}
	<div class="homepage">
		<div class="homepage-pic">
			<img src="{{asset('/images/logotest.png')}}" alt="">
		</div>
		<div class="homepage-text">
			<p>Ce site présente un panorama de l’activisme animaliste international
														
														au travers d’une sélection d’informations publiques éclairantes sur le phénomène et ses tendances,
														
														ainsi que sur le contexte sociétal et sécuritaire dans lequel évolue la recherche animale.
														
														Il est une extension de la lettre InfoActivisme-Recherche publiée par le Gircor.</p>
		</div>

	</div>
{% endblock %}
