{% extends "base.html.twig" %}

{% block body %}
    <div class="title">
        <h1>Mentions Légales</h1>
    </div>

    <div class="mentions">
        <h4>Informations Générales</h4>
        <p>Le site infoactivisme-recherche.info(“Site”) est une publication du Groupe interprofessionnel de réflexion et de communication sur la recherche (Gircor) association loi de 1901. Le Site a été ouvert pour l’information personnelle de ses utilisateurs et pour contribuer au débat public sur l’expérimentation animale. Le Site n’a aucun but commercial.</p>
        <p>Votre utilisation du Site est soumise au respect des conditions générales d’accès et d’utilisation détaillées ci-dessous (“Conditions Générales”) et de l’ensemble des lois applicables.</p>
        <hr>
        <h4>Le Site est édité par :</h4>
        <p>GIRCOR</p>
        <p>Faculté de Médecine Pitié-Salpêtrière</p>
        <p>91 boulevard de l'Hôpital</p>
        <p>75634 PARIS Cedex 13, France</p>
        <p>Téléphone : +33 (0)1 40 77 95 93</p>
        <p>Mail : <a href="mailtosecretariat@gircor.net">secretariat@gircor.net</a></p>
        <p>Directeur de la publication : Ivan Balansard (Président du GIRCOR)</p>
        <p>Hébergement : GANDI, 63 boulevard Massena 75013 Paris</p>
        <p>Le Site constitue une oeuvre dont le GIRCOR est l'auteur au sens des articles L.111.1 et suivants du Code de la Propriété Intellectuelle.</p>
        <hr>
        <h4>Propriété Intellectuelle</h4>
        <p>Toute reproduction, représentation, utilisation ou modification, par quelque procédé que ce soit et sur quelque support que ce soit, de tout ou partie du Site, de tout ou partie des différentes oeuvres qui le composent, sans avoir obtenu l’autorisation préalable du Gircor, est strictement interdite et constitue un délit de contrefaçon puni de trois ans d’emprisonnement et de 300.000 € d’amende.</p>
        <p>Certains documents, images ou vidéos ne sont pas la propriété du Gircor. Dans ce cas le nom de l’auteur est précisé sur ou à proximité immédiate du document, de l’image ou de la vidéo. L’auteur doit être contacté pour toute utilisation.</p>
        <hr>
        <h4>Contenu du Site</h4>
        <p>Les informations et services accessibles via le Site sont fournis en l'état.</p>
        <p>L’utilisateur reconnaît qu’il est seul responsable de l’utilisation du Site, des informations et des services accessibles via le Site et il reconnaît que ni le Gircor, ni aucun de ses adhérents, ne pourront être tenus responsables des dommages directs ou indirects, et notamment préjudice matériel, préjudice immatériel, perte de données ou de programme, préjudice financier, résultant de l’accès ou de l’utilisation du Site ou de tous sites qui lui sont liés ou du fait, notamment, de l’interruption, de la suspension, de la modification ou de l’abandon du Site ou d’un de ses éléments.</p>
        <p>Le contenu du Site est présenté sans aucune garantie de quelque nature que ce soit, ce que l’utilisateur reconnaît expressément.</p>
        <p>Le Gircor s’efforce d’assurer la mise à jour et l’exactitude des informations diffusées. Cependant la recherche est un domaine vaste, composite et évoluant rapidement. C’est pourquoi malgré ses efforts le Gircor ne peut garantir l’absence d’erreurs ou d’omissions. Afin d’aider au maintien de la qualité du Site, celles-ci doivent nous être signalées.</p>
        <p>Les informations contenues dans le Site sont non-contractuelles et sujettes à modifications et mises à jour.</p>
        <p>Le Gircor ne saurait être tenu responsable des erreurs ou omissions contenues dans les documents référencés.</p>
        <hr>
        <h4>Liens</h4>
        <p>Le Site contient des liens vers des sites partenaires ou tiers. Le Gircor ne disposant d’aucun moyen pour contrôler ces sites n’offre aucune garantie quant au respect par ces sites des lois et règlements en vigueur.</p>
        <hr>
        <h4>Protection des données personnelles</h4>
        <p>Le terme « Données Personnelles » désigne toute information relative à une personne physique identifiée ou qui peut être identifiée, directement ou indirectement, par référence à un numéro d’identification ou à un ou plusieurs éléments qui lui sont propres, conformément à l’article 4 du Règlement (UE) n°2016-679 du 27 avril 2016 sur la protection des données personnelles (le « RGPD »).</p>
        <p>Dans le cadre de l’accès et de l’utilisation du site internet
            <a href="{{path('home')}}">infoactivisme-recherche.info</a>
            par tout internaute, le Gircor est amenée à collecter, utiliser et conserver, en qualité de responsable de traitement, des Données Personnelles relatives à celui-ci.</p>
        <p>Ces Données Personnelles incluent notamment :</p>

        <ul>
            <li>Adresse e-mail</li>
            <li>Nom et prénom</li>
            <li>Adresse IP</li>
            <li>Message envoyé par le formulaire de contact</li>
            <li>Nom de l'établissement employeur</li>
        </ul>
        <p>Le traitement des Données Personnelles de l’utilisateur est régi notamment par le RGPD et par la loi française n°78-17 du 6 janvier 1978 modifiée (ci-après la « Loi Informatique et Libertés ») et des travaux de la Commission Nationale de l’Informatique et des Libertés (ci-après la « CNIL »).</p>
        <p>Toutes les données relatives à l’utilisation du site collectées, sont exploitées par le Gircor dans le but de fournir et d’améliorer le site et l’ensemble des fonctionnalités proposées par le site. Elles sont partagées le cas échéant, avec les prestataires et sous-traitants du Gircor situés sur le territoire de l’Union Européenne, aux fins de fournir le site, notamment pour héberger celui-ci.</p>
        <p>L’utilisateur, sous réserve de justifier de son identité auprès du Gircor, dispose des droit suivants sur ses données personnelles :</p>
        <ul>
            <li>Droit d'accès</li>
            <li>Droit de rectification</li>
            <li>Droit d'effacement</li>
            <li>Droit d'opposition</li>
            <li>Droit à la limitation du traitement</li>
            <li>Droit à la portabilité des données</li>
            <li>Droit de ne pas faire l'object d'une décision individuelle automatiséee (y compris le profilage)</li>
        </ul>
        <p>En envoyant une demande par courrier à l’adresse suivante : Gircor, Faculté de Médecine Pitié-Salpêtrière, 91 bd de l’Hôpital, 75634 PARIS Cedex 13, France ou par courrier électronique à secretariat@gircor.net.</p>
        <p>L’Utilisateur dispose de la possibilité de saisir une autorité de contrôle :</p>
        <ul>
            <li>En France : la Commission Nationale de l’Informatique et des Libertés (<a href="www.cnil.fr">www.cnil.fr</a>)</li>
            <li>L’autorité de contrôle de son pays de résidence, s’il réside au sein de l’Union Européenne. Une liste des autorités de contrôle des autres États membres de l’Union européenne est disponible à l’adresse :
                <a href="https://ec.europa.eu/justice/article-29/structure/data-protection-authorities/index_en.htm.">https://ec.europa.eu/justice/article-29/structure/data-protection-authorities/index_en.htm.</a>
            </li>
        </ul>
        <p>Le Gircor s’engage, conformément aux dispositions du RGPD et de la Loi Informatique et Libertés précitées, à ne conserver les Données Personnelles collectées que pour la durée strictement nécessaire à la mise en œuvre des services disponibles sur le site, pour l’exécution de l’utilisation du site. Les Données Personnelles sont ensuite détruites ou effacées.</p>
        <p>Le Gircor s’engage à prendre toutes les mesures techniques, organisationnelles et structurelles appropriées afin de préserver la confidentialité, la sécurité et l’intégrité des Données Personnelles et notamment empêcher toute destruction, perte, altération, divulgation ou accès non-autorisé auxdites Données Personnelles, de manière accidentelle ou illicite.</p>
        <hr>
        <h4>Modifications</h4>
        <p>Le Gircor se réserve le droit de modifier sans préavis les présentes conditions d’utilisation du Site. Le Gircor peut interrompre, limiter, suspendre, interdire, totalement ou en partie l’accès au Site, sans préavis ni indemnité, si l’utilisateur a un comportement ou s’est engagé dans des activités interdites par les lois et réglementations en vigueur ou les Conditions Générales.</p>







    </div>
{% endblock %}