{% extends "base.html.twig" %}

{% block body %}
<div class="title">
	<h1>{{tag.name}}</h1>
</div>

{% include "_partials/_articles.html.twig" %}
{% block javascripts %}
{{ parent() }}
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
	{% endblock %}
										{% endblock %}
