{% extends "base.html.twig" %}

{% block title %}
	{{tag.name}}
{% endblock %}

{% block body %}
<div class="title">
	<h1>{{tag.name}}</h1>
</div>

{% include "_partials/_widgets.html.twig" %}
{% block javascripts %}
{{ parent() }}
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
	{% endblock %}
								{% endblock %}
