.alert-danger {
    color : #fff;
    width : 100%;
    background-color: #EC6436;
    text-align: center;
    padding : 10px 0;
}

.alert-alert {
    color : #fff;
    width : 100%;
    background-color: #9D9C94;
    text-align: center;
    padding : 10px 0;
    margin-top : 10px;
}

body {
  background: #4C4C4C;
  font-family: sans-serif;
}

form {
  width: 50%;
  margin: 10% auto 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #F5F5F5;
  padding: 10px 30px;
  border-radius: 20px;
}

form .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3% auto;
  width: 100%;
}

form .item label {
  color: #4C4C4C;
}

form .item input {
  border-radius: 20px;
  border: 1px solid grey;
  margin-top: 1%;
  text-align: center;
}

form .item #button {
  background: #EC6436;
  color: #fff;
  border: none;
  padding: 5px 0;
  border-radius: 20px;
}

form .item #button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

form h1 {
  text-align: center;
}

.item-reset input {
  width : 100%;
  margin : 2% auto;
}