<h1>Inscription InfoActivisme-Recherche</h1>
<p>Bonjour</p>
<p>Suite à votre demande, vous êtes désormais enregistré en tant que membre du site InfoActivisme-Recherche.</p>
<h5>Vos identifiants de connexion :</h5>
<hr>
<p><b>Identifiant : </b>{{username}}</p>
<p><b>Mot de passe : </b>gircor</p>
<p><b>Accès au site : </b><a href="{{path('home')}}">InfoActivisme-Recherche</a></p>


<hr>
<p>Ce mot de passe est temporaire. Lors de votre première connexion, il vous sera impératif de le modifier.</p>
<p>Cordialement,</p>
<p>L'équipe InfoActivisme-Recherche</p>
