{% block form %}
	<form action="" method="POST" class="form">
		<div class="form-item" style="display:flex; flex-direction:column; margin-top : 15px">
			<h6>Titre</h6>
			<input type="text" name="title">
		</div>

		<div class="form-item" style="display:flex; flex-direction:column; margin-top : 15px">
			<h6>Contenu</h6>
			<textarea rows="7" name="text"></textarea>
		</div>

		<div class="form-item" style="display:flex; flex-direction:column; margin-top : 15px">
			<h6>Facebook (URL)</h6>
			<input type="text" name="facebook" class="formm-field">
		</div>

		<div class="form-item" style="display:flex; flex-direction:column; margin-top : 15px">
			<h6>Twitter (URL)</h6>
			<input type="text" name="twitter">
		</div>

		<div class="form-item" style="display:flex; flex-direction:column; margin-top : 15px">
			<h6>Catégorie(s)</h6>
			<div>
				{% for category in categoryRepository.findAll() %}
					<label for="category">{{category.name}}</label>
					<input type="checkbox" name="category" value="{{category.name}}">
				{% endfor %}
			</div>
		</div>

		<div class="form-item" style="display:flex; flex-direction:column; margin-top : 15px">
			<h6>Tag(s)</h6>
			<div>
				{% for tag in tagRepository.findAll() %}
					<label for="tag">{{tag.name}}</label>
					<input type="checkbox" name="tag" value="{{tag.name}}">
				{% endfor %}
			</div>
		</div>

		<button type="submit" class="saveBis" form="new-Article-Form">Créer</button>


	</form>

{% endblock %}
