body {
    background-color : #4C4C4C;
    font-family: sans-serif;
    overflow : hidden;
    padding: 0;
    margin: 0;
}

label {
    color : #fff;
    text-align: center;
}

input {
    height : 30px;
    border-radius: 10px;
    border : none;
    text-align: center;
    margin-top : 10px;
}

.alert-danger {
    color : #fff;
    width : 100%;
    background-color: #EC6436;
    text-align: center;
    padding : 10px 0;
}

.alert-alert {
    color : #fff;
    width : 100%;
    background-color: #9D9C94;
    text-align: center;
    padding : 10px 0;
    margin-top : 10px;
}

form {
    height : 90vh;
    width : 70%;
    margin : auto;
}

.item {
    display : flex;
    flex-direction: column;
    width : 80%;
    margin : 5% auto;
}

#button {
    background-color: #EC6436;
    color : #fff;
}

#button:hover {
    cursor : pointer;
    transform: scale(1.05);
}

.all {
    margin-top : 10%;
}