html {
    scroll-behavior: smooth;
}
body {
    width : 100vw;
    overflow-x : hidden;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    letter-spacing:1px;
    background-color: #F5F5F5;
    min-height: 100vh;
   
    .alert-success{
        background: lightgreen;
        text-align: center;
        padding: 20px;
        border: 1px solid green;
        filter: opacity(0.5);
    }
    .alert-error{
        background: #FB8989;
        text-align: center;
        padding: 20px;
        border: 1px solid red;
        filter: opacity(0.5);
    }
    .alert-home-info{
        background: #4C4C4C;
        text-align: center;
        padding: 20px;
        color : #fff;
        border: 1px solid #9D9C94;
        filter: opacity(0.5);
    }
    a:hover {
        cursor: pointer;
    }
    .mentions {
        width : 80%;
        background : #fff;
        border-radius : 10px;
        box-shadow : 0 0 2px #9D9C94;
        margin : 1% auto;
        color : #4C4C4C;
        padding : 15px;
        a {
            color : #EC6436;
            text-decoration: none;
        }
        p {
            padding : 1%;
            text-align: justify;
        }
    }
    nav {
        display : flex;
        flex-direction: row;
        justify-content: space-evenly;
        width : 100%;
        background : #9D9C94;
        padding: 20px 0;
        margin : 0;
        .items {
            display : flex;
            flex-direction: row;
            justify-content: center;
            width : 100%;
            padding-bottom : 20px;
            
        }
        .item {
            margin : 0;
            padding : 20px 20px;
            border-bottom : 2px solid #EC6436;
            &:hover {
                border-bottom : 3px solid #fff;                
            }
            a {
                color : #fff;
                text-decoration: none;
                &:hover {
                    text-decoration: none;
                    color : #fff;
                }
            }
            @media screen and (max-width : 1200px){
                display : none;
            }
        }
        .dropbtn {
            color: #fff;
            padding: 16px 50px;
            font-size: 16px;
            border: none;
            background-color: #9D9C94;
            cursor: pointer;
            width : 100%;
            }
            .dropdown {
                position: relative;
                display: inline-block;
                width : 100%;
                z-index: 999;
                background-color: #9D9C94;
                @media screen and (min-width : 1200px){
                    display : none;
                }
            }
            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #EC6436;
                min-width: 100%;
                color : #fff;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
            a {
                color: #fff;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                    &:hover{
                        color : #fff;
                        text-decoration: none;
                        border-bottom : 1px solid #fff;
                        }
                    }
            }
            .dropdown:hover .dropdown-content {
                display: block;
            }
            .dropdown:hover .dropbtn {
                background-color: #9D9C94;
                color : #fff;
            }
    }

    .homepage{
        height : 80vh;
        background-color: #4C4C4C;
        .homepage-text{
            width : 70%;
            text-align: center;
            background-color: #fff;
            margin: 5% auto;
            padding : 20px;
            border : 2px solid #EC6436;
            line-height: 25px;
        }
        .homepage-pic {
            width : 40%;
            margin : auto;
            padding : 30px 0;
            img {
                width : 100%;
                margin : auto;
            }
        }
    }

    footer {
        display : flex;
        flex-direction: row;
        justify-content: space-evenly;
        bottom : 0;
        background-color: #4C4C4C;
        // position : fixed;
        width : 100%;
        @media screen and (max-width : 1200px){
            display : none;
        }
        .footer-item {
            color : rgba(255,255,255,0.5);
            text-decoration: none;
            font-weight : lighter;
            text-align: center;
            padding : 10px 0;
            &:hover{
                color : #fff;
                text-decoration: none;
            }
        }
    }

    .title {
        text-align : center;
        color : #fff;
        background : #EC6436;
        padding : 20px 0;
        box-shadow: 0 10px 20px #9D9C94;
        margin-bottom : 1%;
    }
    .title-admin{
        text-align : center;
        color : #fff;
        background : #4C4C4C;
        padding : 20px 0;
        box-shadow: 0 10px 20px #9D9C94;
        margin-bottom : 1%;
    }

    .category-container{
        display : flex;
        flex-direction: row;
        justify-content: space-evenly;
        width : 100%;
        .articles {
            width : 55%;
            margin : auto;
            @media screen and (max-width : 1200px){
                width : 100%;
            }
            .article-card {
                background : #fff;
                width : 100%;
                margin : 0 auto 2%;
                padding : 15px;
                box-shadow: 0 0 2px #9D9C94;
                display : flex;
                flex-direction: column;
                justify-content: center;
                border-radius : 10px;
                @media screen and (max-width: 1200px){
                    width : 90%;
                }
                .title-title {
                    color : #4C4C4C;
                    text-decoration: none;
                }
                .article-date {
                    background : #EC6436;
                    color : #fff;
                    font-weight : bolder;
                    width : 50%;
                    text-align: center;
                    padding : 5px 0;
                    margin : 1% auto;
                }
                p.article-category {
                    margin : 2% auto;
                    a {
                        color : #EC6436;
                        font-weight : bolder;
                        text-decoration: none;
                    }
                }
                .article-tag {
                    font-size : 10px;
                    margin : 1% auto;
                    .tags {
                        color : #EC6436;
                        text-decoration: none;
                    }
                }
                h2 {
                    text-align : center;
                }
                p {
                    text-align : center;
                }
                .fb-post {
                    width : 100%;
                    display : flex;
                    justify-content: center;
                    
                }
                .twitter-tweet {
                    margin : auto;
                }
            }
        }
        .widgets {
            width : 35%;
            margin : 0 auto;
            @media screen and (max-width : 1200px){
                display : none;
            }
            .widget-title {
                border-radius : 10px 10px 0 0;
            }
            .index {
                background-color: #fff;
                padding-bottom : 20px;
                border-radius : 10px;
                box-shadow: 0 0 2px #9d9c94;

                h4 {
                    text-align: center;
                    color : #fff;
                    background-color: #4C4C4C;
                    padding : 10px 0;
                    font-size : 20px;
                }
                .tag-link {
                    color: #EC6436;
                    display: block;
                    text-align: center;
                    text-decoration: none;
                }

            }
            .search {
                background-color: #fff;
                padding-bottom : 20px;
                border-radius : 10px;
                box-shadow: 0 0 2px #9d9c94;

                
                h4 {
                    text-align: center;
                    color : #fff;
                    background-color: #4C4C4C;
                    padding : 10px 0;
                    font-size : 20px;
                    margin-bottom : 0;
                }
                h4.result-title{
                    background-color: #4C4C4C;
                    border-radius : 10px 10px 0 0;
                }
                h3 {
                    text-align : center;
                }
                form {
                    display : flex;
                    flex-direction: column;
                    justify-content: center;
                    .form-item {
                        margin : 2% auto;
                        width : 80%;
                        input, select {
                            width : 100%;
                        }
                    }
                    button {
                        margin : 2% auto 0;
                        width : 100%;
                        background-color: #EC6436;
                        color : #fff;
                        padding : 5px 0;
                        border : none;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                    
                }
                .article-card {
                    display : flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-top : 20px;
                    .result-title {
                        text-decoration : none;
                        font-size : 26px;
                        color : #4C4C4C;
                        text-align: center;
                        span {
                            background-color: #EC6436;
                            color : #fff;
                            font-size : 12Px;
                            padding : 3px 8px;
                        }
                    }
                }

            }
        }
        
    }
    .form {
        width : 80%;
        margin : auto;
        background : #fff;
        padding : 30px 0 0;
        display : flex;
        flex-direction: column;
        justify-content: center;
        margin : 5% auto;
        .form-item {
            display : flex;
            flex-direction: column;
            width : 90%;
            margin : 0 auto 30px;
            justify-content: space-evenly;
        }
        .field-urls{
            display : flex;
            flex-direction: row;
            width : 90%;
            margin : auto;
            .form-field {
                width : 90%;
            }
        }
        .button{
            width : 100%;
            text-align : center;
            color : #fff;
            background-color: #EC6436;
            border : none;
            outline : none;
            padding : 10px 0;
            &:hover{
                cursor: pointer;
            }
        }
    }
    label {
        padding : 0 10px;
    }
    .admin-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: #4C4C4C;
        a {
            color : #fff;
            text-decoration: none;
           
        }
    }
    .form {
        .form-item {
            display : flex;
            flex-direction: column;
            text-align: center;
            input{
                text-align: center;
                color : #4C4C4C;
                border-radius : 5px;
                border : 1px solid #EC6436;
                outline : none;
                margin-top : 2%;
            }
            label {
                color : #4C4C4C;
            }
        }
        table thead tr th {
            padding : 15px 0;
        }
        table td {
            text-align: center;
        }
        table {
            @media screen and (max-width : 1200px){
                display : none;
            }
        }
        .user-actions {
            display : flex;
            flex-direction: row;
            margin : 5%;
            .user-action {
                width : 40%;
                margin : auto;
                background: #EC6436;
                border: none;
                color: white;
                padding: 5px;
                text-decoration : none;
                text-align: center;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        button {
            width: 100%;
            background: #EC6436;
            border: none;
            color: white;
            padding: 5px;
            &:hover {
                cursor: pointer;
            }
        }
    }

    .full-article {
        display : flex;
        flex-direction: row;
        justify-content: space-evenly;
        width : 100%;
        .article-details{
            background : #fff;
            width : 55%;
            margin : 2% auto;
            padding : 15px;
            box-shadow: 0 0 2px #9D9C94;
            display : flex;
            flex-direction: column;
            justify-content: center;
            border-radius : 10px;
            @media screen and (max-width : 1200px){
                width : 100%;
            }
            #search {
                width : 50%;
                margin : 2% auto; 
                background : #EC6436;
                color : #fff;
                padding : 5px 0;
                border : none;
                border-radius : 5px;

            }
            .article-date {
                background : #EC6436;
                color : #fff;
                font-weight : bolder;
                width : 50%;
                text-align: center;
                padding : 5px 0;
                margin : auto;
            }
            .pdf-link {
                text-align: center;
                margin : 1%;
                color : #4C4C4C;
                text-decoration : none;
                display : none;
                &:hover {
                    color : #EC6436;
                }
            }
        p.article-category {
            margin : 2% auto;
            a {
                color : #EC6436;
                font-weight : bolder;
                text-decoration: none;
            }
        }
        .article-tag {
            font-size : 10px;
            margin : 1% auto 2%;
            .tags {
                color : #EC6436;
                text-decoration: none;
            }
        }
        h2 {
            text-align : center;
            a{
                font-size : 10px;
                color :#EC6436;
                text-decoration: none;
                padding : 0 20px;
            }
        }
        p {
            text-align : center;
        }
        .fb-post {
            display : flex;
            justify-content: center;
            
        }
        .twitter-tweet {
            margin : auto;
        }
        }
        .widgets {
            width : 35%;
            margin : 0 auto;
            @media screen and (max-width : 1200px){
                display : none;
            }
            .index {
                background-color: #fff;
                padding-bottom : 20px;
                border-radius : 10px;
                box-shadow: 0 0 2px #9d9c94;

                h4 {
                    text-align: center;
                    color : #fff;
                    background-color: #4C4C4C;
                    border-radius : 10px 10px 0 0;
                    padding : 10px 0;
                    font-size : 20px;
                }
                .tag-link {
                    color: #EC6436;
                    display: block;
                    text-align: center;
                    text-decoration: none;
                }

            }
            .search {
                background-color: #fff;
                padding-bottom : 20px;
                border-radius : 10px;
                box-shadow: 0 0 2px #9d9c94;
            
                h4 {
                    text-align: center;
                    color : #fff;
                    background-color: #4C4C4C;
                    padding : 10px 0;
                    font-size : 20px;
                    border-radius : 10px 10px 0 0;
                    margin-bottom : 0;
                }
                h4.result-title{
                    background-color: #4C4C4C;
                }
                h3 {
                    text-align : center;
                }
                form {
                    display : flex;
                    flex-direction: column;
                    justify-content: center;
                    .form-item {
                        margin : 2% auto;
                        width : 80%;
                        input, select {
                            width : 100%;
                        }
                    }
                    button {
                        margin : 2% auto 0;
                        width : 100%;
                        background-color: #EC6436;
                        color : #fff;
                        padding : 5px 0;
                        border : none;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
                .article-card {
                    display : flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-top : 20px;
                    .result-title {
                        text-decoration : none;
                        font-size : 26px;
                        color : #4C4C4C;
                        text-align: center;
                        span {
                            background-color: #EC6436;
                            color : #fff;
                            font-size : 12Px;
                            padding : 3px 8px;
                        }
                    }
                }

            }
        }
        #calendar {
        width: 80%;
        margin: auto;
        margin : 2% auto;
        }

        .fc .fc-button-group > .fc-button,.fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active, .fc .fc-button:not(:disabled), .fc a[data-navlink], .fc-event.fc-event-draggable, .fc-event[href] {
            background-color: #EC6436;
            border: none;
            outline: none;
        }

        .fc-daygrid-event-dot {
            border-color: #EC6436;
            display: none;
        }

        .fc-h-event .fc-event-title-container {
            text-align: center;
        }

        .event-infos {
            text-align: center;
            margin: auto;
            width : 80%;
            background-color: #fff;
            padding : 10px 0;
            display : none;
            border : 1px solid #EC6436;
        }

        #event-description {
            font-size : 12px;
        }

        #event-url {
            color :  #EC6436;
            text-decoration: none;
            font-size : 12px;
        }

        #event-categories, #event-tags {
            font-size : 12px;
        }

        .event-tag, .event-category {
            color : #EC6436;
            text-decoration: none;
        }

        #hide {
            font-size : 10px;
            color : #EC6436;
        }

        #hide:hover {
            cursor: pointer;
        }
        
    }
    .form-light {
        background : #F5F5F5;
    }
}

