
body {
    width : 100vw;
    overflow-x : hidden;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    letter-spacing:1px;
    background-color: #4C4C4C;

    nav {
        display : flex;
        flex-direction: row;
        justify-content: space-evenly;
        width : 100%;
        background : #9D9C94;
        padding: 20px 0;
        margin : 0;
        .items {
            display : flex;
            flex-direction: row;
            justify-content: center;
            width : 100%;
            padding-bottom : 20px;
            
        }
        .item {
            margin : 0;
            padding : 20px 20px;
            border-bottom : 2px solid #EC6436;
            &:hover {
                border-bottom : 3px solid #fff;                
            }
            a {
                color : #fff;
                text-decoration: none;
                &:hover {
                    text-decoration: none;
                    color : #fff;
                }
            }
            @media screen and (max-width : 1200px){
                display : none;
            }
        }
        .fa-bars {
            color : #fff;
            margin : auto;
            @media screen and (min-width : 1200px){
                display : none;
            }
            font-size : 32px;
        }
    }

    .homepage{
        height : 65vh;
        .homepage-text{
            width : 70%;
            text-align: center;
            background-color: #fff;
            margin: 5% auto;
            padding : 20px;
            border : 2px solid #EC6436;
            line-height: 25px;
        }
        .homepage-pic {
            width : 40%;
            margin : 5% auto;
            img {
                width : 100%;
                margin : auto;
            }
        }
    }

    footer {
        display : flex;
        flex-direction: row;
        justify-content: space-evenly;
        bottom : 0;
        background-color: #9D9C94;
        // position : fixed;
        width : 100%;
        @media screen and (max-width : 1200px){
            display : flex;
            flex-direction: column;
            justify-content: center;
        }
        .footer-item {
            color : rgba(255,255,255,0.5);
            text-decoration: none;
            font-weight : lighter;
            text-align: center;
            padding : 10px 0;
            &:hover{
                color : #fff;
                text-decoration: none;
            }
        }
    }

    .title {
        text-align : center;
        color : #fff;
        background : #EC6436;
        padding : 20px 0;
    }

    .article-card {
        background : #fff;
        width : 80%;
        margin : 2% auto;
        padding : 15px;
        .article-date {
            background : #EC6436;
            color : #fff;
            font-weight : bolder;
            width : 25%;
            text-align: center;
            padding : 5px 0;
        }
        .article-category {
            color : #EC6436;
            font-weight : bolder;
            text-decoration: none;
        }
        .article-tag {
            font-size : 10px;
        }
    }
    .form {
        width : 80%;
        margin : auto;
        background : #fff;
        padding : 30px 0 0;
        display : flex;
        flex-direction: column;
        justify-content: center;
        margin : 5% auto;
        .form-item {
            display : flex;
            flex-direction: column;
            width : 90%;
            margin : 0 auto 30px;
            justify-content: space-evenly;
            .form-field {
                margin : 10px auto 0;
                width : 100%;
                border-radius : 5px;
                border : 1px solid lightgray;
            }
            .form-choice{
                border : none;
                label {
                    color : #4C4C4C;
                    font-size : 12px;
                }
            }
        }
        .button{
        width : 100%;
        text-align : center;
        color : #fff;
        background-color: #EC6436;
        border : none;
        outline : none;
        padding : 10px 0;
        &:hover{
            cursor: pointer;
        }
    }
    }
    label {
        padding : 0 10px;
    }
    .admin-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        a {
            color : #fff;
            text-decoration: none;
           
        }
    }
    
}

