<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<title>
			{% block title %}Info-Activisme Recherche
			{% endblock %}
		</title>

		{% block stylesheets %}
			<script src="https://kit.fontawesome.com/f83f06d8bc.js" crossorigin="anonymous"></script>
			<link rel="stylesheet" href="/build/app.css">
		{% endblock %}

	</head>
	<body>
		{% include "_partials/_nav.html.twig" %}
		{% block body %}{% endblock %}
		{% include "_partials/_footer.html.twig" %}

		{% block javascripts %}
			<script src="/search.js"></script>


		{% endblock %}

	</body>
</html>
