{% block stylesheets %}
	<link rel="stylesheet" href="/build/app.css">
{% endblock %}
{% block body %}
	<div class="title">
		<h1>La ressource à laquelle vous tentez d'accéder n'existe pas...</h1>
	</div>
	<p>
		<a href="{{path('home')}}">Retour à la page d'accueil</a>
	</p>
{% endblock %}

